/* Estilos gerais */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 70px; 
  padding-bottom: 20px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; 
  background-color: #95A868;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

/* Footer */
.footer{
  max-width: 100%;
  height: 70px;
  background-color: #95A868;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0 20px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%; 
}

/* Logo */
.navbar-logo {
  display: flex;
  align-items: center;
  height: 100%; 
  padding: 0px 0; 
}

.logo-img {
  height: 50px;
  width: auto;
  transition: transform 0.3s ease;
  transform-origin: left center; 
}

.logo-img:hover {
  transform: scale(1.38); 
}

/* Links de navegação (desktop) */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  white-space: nowrap;
  transition: all 0.3s;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffff;
}

/* Menu Hamburger */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  width: 30px;
  height: 24px;
  z-index: 1001;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #ecf0f1;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

/* Posicionamento inicial das linhas */
.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

/* Animação para X */
.hamburger.open span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  transform: translateY(-50%) scale(0);
}

.hamburger.open span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);

}

/* Responsividade */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  
  .nav-links {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2c3e50;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    clip-path: circle(0% at 90% -10%);
    transition: clip-path 0.7s ease-in-out;
  }
  
  .nav-links.active {
    clip-path: circle(150% at 90% -10%);
  }
  
  .nav-link {
    width: 80%;
    text-align: center;
    padding: 12px;
  }
}