#left-side {
  background-color: #95a868;
  color: white;
}

#left-side h1 {
  font-weight: 500;
}

#left-side p {
  font-size: 20px;
}

#right-side h2 {
  font-size: 40px;
  font-weight: 600;
}

#register-form {
  max-width: 440px;
  width: 100%;
}

.campos {
  background-color: #f1f5f4;
  height: 50px;
  border-radius: 40px;
}

.campos::placeholder {
  color: #a0a0a0;
}

.campos input {
  padding-inline-start: 5px;
}

.form-group {
  position: relative;
}

.bi {
  position: absolute;
  color: #a0a0a0;
}

.btn {
  font-size: 20px;
  background-color: #95a868;
  font-weight: 500;
  border: none;
  border-radius: 40px;
  width: 130px;
  height: 50px;
}
