#left-side-register {
  background-color: #95a868;
  color: white;
}

#left-side-register h1 {
  font-weight: 500;
}

#left-side-register p {
  font-size: 20px;
}

#right-side-register {
  overflow: hidden;
}

#right-side-register h2 {
  font-size: 40px;
  font-weight: 600;
}

#register-form {
  max-width: 430px;
  width: 100%;
}

#register-form .register-campos {
  background-color: #f1f5f4;
  height: 50px;
  border-radius: 40px;
}

#register-form .register-campos input {
  padding-inline-start: 5px;
}

#register-form .form-group {
  position: relative;
}

#register-form .bi {
  position: absolute;
  color: #a0a0a0;
}

#register-form .btn {
  font-size: 20px;
  background-color: #95a868;
  font-weight: 500;
  border: none;
  border-radius: 40px;
  width: 130px;
  height: 50px;
}
